<!DOCTYPE html>
<html>
<head>
<title>Image Process</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />  
<script src="static/js/jquery-1.9.1.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/droparea.js"></script>
<script src="static/js/vendor/jquery.ui.widget.js"></script>
<script src="static/js/jquery.iframe-transport.js"></script>
<script src="static/js/jquery.fileupload.js"></script>
<link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<a href="https://github.com/larusx/center.git"><img style="position: absolute; top: 0; right: 0; border: 0;"src="static/pic/joinus.png" alt="Join us on GitHub" /></a>

    <h1 class="text-center">
        Image Process
    </h1>


    
 
<center>
<form enctype="multipart/form-data" action="/upload" method="POST">  
<div >
上传文件:
<input type="file" name="file1" >  
<input type="submit" value="确定" class='btn btn-inverse' data-loading-text="uploding...">  
</div>
</form>  
<script type="text/javascript">document.write(Date());</script>
</center>
<center>
<form class="form-search" action='/search' method='POST'>
  <input type="text" class="input-medium search-query" name="search_content">
  <button type="submit" class="btn">Search</button>
</form>
</center>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class='flashes'>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<!--<input id="fileupload" type="file" name="files[]" data-url="server/php/" multiple>-->


<div class='container'>
<table class="table table-bordered table-hover" id='occur'>
<tbody>
{%for value in return_list%}
<tr><td><a href="http://larusx.jupiter.cloudlut.net/upload/{{value}}">{{value}}</a></td></tr>
{%endfor%}
</tbody>
</table>
</div>
<script>
function func()
{
	try{
	var x="{{meta}}";
    document.getElementById('occur').innerHTML=x;	
	}catch(err)
	{
		alert(err.message);
	}
}
</script>

<center>
<a href="http://posix.sinaapp.com/?p=246">建议，意见，留言板@larus</a>
</center>
</body>
</html>

