<!DOCTYPE html>
<html>
<head>
<title>Cloud Storage</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />  
<script src="static/js/jquery-1.9.1.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/droparea.js"></script>
<script src="static/js/vendor/jquery.ui.widget.js"></script>
<script src="static/js/jquery.iframe-transport.js"></script>
<script src="static/js/jquery.fileupload.js"></script>
<script type="text/javascript">

$(function() {
  $('#search').bind('keyup', function() {
    $.getJSON('/ajax_search', {
      a: $('#search').val()
    }, function(data){ 
    var tb="<table class='table table-bordered table-hover'>";
    $.each(data,function(k,v){
      tb += "<tr><td>"+"<a href='http://larusx.jupiter.cloudlut.net/upload/"+v+"'" + "style='color:black;font-family:'Microsoft YaHei';'Consolas';font-size:18px;'>"+v+"</a>"+"</td></tr>";
    });
    tb += "</table>"
    $('#result').html(tb);            
    });
    return false;
  });
});

function validate_required(field,alerttxt)
{
with (field)
  {
  if (value==null||value=="")
    {document.getElementById("nofile").innerHTML="no file chosen!";return false}
  else {return true}
  }
}

function validate_form(thisform)
{
with (thisform)
  {
  if (validate_required(file1,"请选择文件")==false)
    {file1.focus();return false}
  }
}
</script>
<link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body background="static/img/index_back.jpg">
<a href="https://github.com/larusx/center.git"><img style="position: fixed; top: 0; right: 0; border: 0;"src="static/pic/joinus.png" alt="Join us on GitHub" /></a>
    <h1 class="text-center" style="height:100px;padding-top:30px;padding-bottom:20px;">
        <a href="/" style="color : black;font-size:70px;font-family:'Consolas','Menlo','Deja Vu Sans Mono';padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px">Cloud Storage</a>
    </h1>


    
 
<div class="row-fluid">
<div class="span6 offset4">
<form enctype="multipart/form-data" action="/upload" onsubmit="return validate_form(this)" method="POST">  
上传文件:
<input type="file" multiple size="80" name="file1" >  
<input type="submit" value="确定" class='btn b btn-primary btn-large' data-loading-text="uploding...">  
</form>  
</div>
</div>
<center>
<h2 id='nofile'></h2>
</center>
<div class="row">
{%block status%}
{%endblock%}
</div>
<div class="span5 offset6">
  <input type="text" placeholder="search here..." id='search'>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class='flashes'>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<!--<input id="fileupload" type="file" name="files[]" data-url="server/php/" multiple>-->


<div class='container' id='result'>

</div>
<script>
function func()
{
	try{
	var x="{{meta}}";
    document.getElementById('occur').innerHTML=x;	
	}catch(err)
	{
		alert(err.message);
	}
}
</script>
<center>
<div class="span3 offset6">
<a href="http://posix.sinaapp.com/?p=246">建议，意见，留言板@larus</a>
</div>
</center>
</body>
</html>

