<!DOCTYPE html>
<html>
<head>
<title>网盘和图片处理</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">
div#w{width:800px;height:400px;position:absolute;left:50%;top:50%;margin-left:-400px;margin-top:-200px}
div#word{font-family:'Microsoft YaHei','Consolas';color:white;}
</style>
<script src="static/js/jquery-1.9.1.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script type="text/javascript">
  $(function() {
    $('a#calculate').bind('click', function() {
      $.getJSON('/add_numbers', {
        a: $('input[name="a"]').val(),
        b: $('input[name="b"]').val()
      }, function(data) {
        $("#result").text(data.result);
      });
      return false;
    });
  });
</script>
<link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body background="static/img/index_back.jpg">
<div id="w">
<div class="row-fluid">
<div class="span6 text-center">
	<a href="/search">
	<img src="/static/img/cloud1.png" width="200" height="200">
	</a>
<div class="text-center" id="word">
<h1>文件分享</h1>
</div>
</div>
<div class="span6 text-center">
	<a href="#">
	<img src="/static/img/image1.png" width="200" height="200">
	</a>
<div class="text-center" id="word">
<h1>图片处理</h1>
<p>Coming soon...</p>
</div>
</div>
</div>
</div>
<h1>Ajax Example</h1>
<p><input type=text size=5 name=a> +
   <input type=text size=5 name=b> =
   <span id="result">?</span>
<p><a href=# id="calculate">calculate server side</a>
</body>
</html>
