<!DOCTYPE html>
<html>
<head>
<title>网盘和图片处理</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">
div#w{width:800px;height:400px;position:absolute;left:50%;top:50%;margin-left:-300px;margin-top:-200px}
</style>
</head>
<body>
<div id="w">
<div class="row-fluid">
<div class="span6 well">
	<a href="/search">
	<img src="/static/img/cloud.jpg" width="200" height="200">
	</a>
<h1>cloud</h1>
</div>
<div class="span6">

</div>
</div>
</div>
</body>
</html>
