{%extends "a.html" %}
{%block status %}
<div class="row">
{%if success_list%}
<div class="span3 offset5">
<div class="alert alert-success">
    <ul class="unstyled">
    {% for file in success_list%}
    <li>{{file}} success!!</li>
    {%endfor%}
    </ul>
</div>
</div>
{%endif%}

{%if exist_list%}
<div class="span3 offset1">
<div class="alert">
    <ul class="unstyled">
    {% for file in exist_list %}
    <li>{{file}} exists!!</li>
    {% endfor %}
    </ul>
</div>
</div>
{%endif%}
</div>
{%endblock %}
